
<!DOCTYPE html>
<html>   

<%- include ('partials/head.html') %>

<body> 
 
    <%- include ('partials/navigation.html') %>
    
    <div>
        <header class="row">&nbsp;</header>
        <header class="row">
            <div class="col-lg-12 text-center">
                <img src="img/desktop.jpeg" alt="mine">
            </div>
            <div class="col-rg-12 text-center">
                <br/>
                <h4>Site a modo de laboratorio de utilidades basado en NodeJS </h4>            
            </div>
        </header>
    </div>

    <!--SECTION ONE-->
    <section class="container-fluid" id="home">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-5">
                    <i class="fab fa-youtube fa-8x"></i>
            </div>
            <div class="col-sm-5">
                <h4>¡Pronto lo publicaré en WWW!</h4>
             </div>
        </div>
    </section>

    <%-include ('partials/footer.html'); %>

</body>    
</html>  
