<!DOCTYPE html>
<html>   

<%- include ('partials/head.html') %>
 
<body>
    <%- include ('partials/navigation.html') %>

    <div>
        <header class="row">&nbsp;</header>
        <header class="row">
            <div class="col-lg-12 text-center">
                <img src="img/nature.jpeg" alt="mine">
            </div>
            <div class="col-rg-12 text-center">
                <br/>
                <h4>Machine Learning (ML) aplicado a la búsqueda de tendencias de los mercados y redes sociales en el mundo</h4>            
            </div>
        </header>
    </div>

    <%-include ('partials/footer.html'); %>
   

</body>     
</html>  