<!DOCTYPE html>
<html>
 
<%- include ('partials/head.html') %>
  
<body>
    <%- include ('partials/navigation.html') %>

    <h4> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=title %></h4>
    <!--SECTION ONE-->
    <section class="container-fluid" id="home">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-2">
                <h5> Generar informe bimensual Métrica CUBO (Babel)</h5>
            </div>
            <div class="col-sm-1">
                <form action="genCUBO" method="POST">
                   <button type="submit" class="btn btn-primary"><i class="fab fa-youtube fa-2x"></i></button>
                </form>
            </div>

            <div class="col-sm-2">
                <h5> &nbsp;&nbsp;Generar Certificado Mensual UTE Actividades AT</h5>
            </div>
            <div class="col-sm-1">
                <form action="genCertMensualAT" method="POST">
                    <button type="submit" class="btn btn-primary"><i class="fab fa-youtube fa-2x"></i></button>
                </form>
            </div>

            <div class="col-sm-2">
                <h5> &nbsp;&nbsp;Generar Informe de Peticiones que caducan en menos de una semana</h5>
            </div>
            <div class="col-sm-1">
                <form action="#" method="POST">
                    <button type="submit" class="btn btn-primary"><i class="fab fa-youtube fa-2x"></i></button>
                </form>
            </div>

            <div class="col-sm-2">
                <h5> &nbsp;&nbsp;Generar Informe de Actividades realizadas para PPTX de Seguimiento</h5>
            </div>
            <div class="col-sm-1">
                <form action="#" method="POST">
                    <button type="submit" class="btn btn-primary"><i class="fab fa-youtube fa-2x"></i></button>
                </form>
            </div>

        </div>
   </section>

  <%-include ('partials/footer.html'); %>

</body>     
</html>  