<!DOCTYPE html>
<html>
 
<%- include ('partials/head.html') %>
  
<body>
    <%- include ('partials/navigation.html') %>
    
    <!--SECTION ONE-->
    <section class="container-fluid" id="home">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-5">
                <h4> <%=title%></h4>
            </div>
            <div class="col-sm-5">
                <form action="genCUBO" method="POST">
                    <div class="mb-3">
                        <label for="mes1" class="form-label">Nombre mes inicial</label>
                        <input class="form-control form-control-sm" name="mes1" id="mes1" type="text">
                    </div>
                    <div class="mb-3">
                        <label for="mes2" class="form-label">Nombre mes final</label>
                        <input class="form-control form-control-sm" name="mes2" id="mes2" type="text">
                    </div>
                    <!--div class="mb-3">
                        <label for="plainTxtGedeones" class="form-label">Seleccione fichero</label>
                        <input class="form-control form-control-sm" name="fileCUBO" id="plainTxtGedeones" type="file">
                    </!--div>-->
                    <button type="submit" class="btn btn-primary"><i class="fab fa-youtube fa-3x"></i></button>
                </form>
            </div>
        </div>
    </section>

  <%-include ('partials/footer.html'); %>

</body>     
</html>  