<!-- Minified JS library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- BOOTSTRAP.JS FOR MENU HANDLER, DATES AND OTHER THINGS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="js/bootstrap-datetimepicker.min.js"></script>

<div id="menuSup">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
       <span class="navbar-brand mb-0 h1">Mi laboratorio site</span>
       <button
         class="navbar-toggler"
         type="button"
         data-bs-toggle="collapse"
         data-bs-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent"
         aria-expanded="false"
         aria-label="Toggle navigation"
       >
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-lg-0">
           <li class="nav-item">   
               <%if (entry == 1) {%>
                 <a class="nav-link active" href="/">
               <%}else{%>
                 <a class="nav-link" href="/">
               <%}%>
               <i class="fas fa-home"></i>&nbsp;Home</a>
             </script>
           </li>
           <li class="nav-item">
            <%if (entry == 2) {%>
              <a class="nav-link active" href="/about">
            <%}else{%>
              <a class="nav-link" href="/about">
            <%}%>
             <i class="far fa-building"></i>&nbsp;About</a>
           </li>
           <li class="nav-item">
            <%if (entry == 3) {%>
              <a class="nav-link active" href="/contact">
            <%}else{%>
              <a class="nav-link" href="/contact">
            <%}%>
             <i class="far fa-envelope"></i>&nbsp;Contact</a>
           </li>
           <li class="nav-item">
              <%if (entry == 4) {%>
                <a class="nav-link active" href="/reporting">
              <%}else{%>
                <a class="nav-link" href="/reporting">
              <%}%>
              <i class="fas fa-cog"></i>&nbsp;CDISM Reporting</a>
           </li>
           <li class="nav-item">
              <%if (entry == 5) {%>
                <a class="nav-link active" href="/discover">
              <%}else{%>
                <a class="nav-link" href="/discover">
              <%}%>
              <i class="fas fa-satellite-dish"></i>&nbsp;Investment world research</a>
          </li>

          <li class="nav-item">
            <%if (entry == 7) {%>
              <a class="nav-link active" href="/uploadForm">
            <%}else{%>
              <a class="nav-link" href="/uploadForm">
            <%}%>
            <i class="fas fa-satellite-dish"></i>&nbsp;PDF To Audio File</a>
          </li>
         
           <li class="nav-item dropdown">
             <%if (entry == 6) {%>
              <a
               class="nav-link dropdown-toggle active"
               href="#"
               id="navbarDropdown"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false"
             >
            <%}else{%>
              <a
               class="nav-link dropdown-toggle"
               href="#"
               id="navbarDropdown"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false"
             >
            <%}%>
             <i class="fas fa-chart-area"></i>&nbsp;Gedeones
             </a>
             <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
               <li><a class="dropdown-item" href="/gedeones">Consultar Gedeones</a></li>
               <li><a class="dropdown-item" href="/acciona">Consultar Acciones Bolsa</a></li>
               <li><hr class="dropdown-divider" /></li>
               <li><a class="dropdown-item" href="/fom2">Seguimiento Proyecto FOM2</a></li>
             </ul>
           </li>
         </ul>
         <form class="d-flex">
           <input
             class="form-control me-2"
             type="search"
             placeholder="Search"
             aria-label="Search"
           />
           <button class="btn btn-outline-success" type="submit">Search</button>
         </form>
       </div>
     </div>
   </nav>
</div>